body {
    font-size: 16px;
    padding-top: 50px;
}

.navbar-fixed-top {
    border: 0;
    box-shadow: 0 5px 10px;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a, .nav-sidebar > .li-heading {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .li-heading {
    text-decoration: underline;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
section {
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

section>.section-title {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    background-color: #dcdcdc;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

section>.section-body {
    padding: 15px;
}

code {
    white-space: pre;

}