# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  call-workflow:
    uses: 42BV/42-github-workflows/.github/workflows/maven-test.yml@main
    with:
      java-version: 21
    secrets: inherit
